<h1>Update Info</h1>
<p>Update the information that appears on your profile.</p>

<%= form_for @user, url: {action: 'update'}, html: { method: "patch", multipart: true } do |f| %>
  <%= f.label "Name (required)", class: "strong-label"%>
  <%= f.text_field :name %>
  <%= f.label :from, class: "strong-label" %>
  <%= f.text_field :from %>
  <%= f.label :gender, class: "strong-label" %>
  <%= f.text_field :gender %>
  <%= f.label "Profile Photo", class: "strong-label" %>
  <p><strong>Please note:</strong> Your profile photo will be the default Gravatar icon (see preview below), unless you set up a profile photo of your own. You can upload a file (left) or change your Gravatar on the right.</p>
  <div class="row">
    <div class="small-6 columns">
      <em>Upload a photo:</em>
      <%= f.file_field :avatar %>
    </div>
    <div class="small-6 columns">
      <em>Current Gravatar</em>
      <a href="http://gravatar.com/emails" target="_blank" >(Change)</a>  <%= gravatar_for @user %>
    </div>
  </div>
  <br>
  <%= f.submit "Update Info", class: "expanded button" %>
<% end %>
