<h1>Update Info</h1>
Update the information that appears on your profile.

<%= form_for @user, url: {action: 'update'}, html: { method: "patch", multipart: true } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :from %>
  <%= f.text_field :from %>
  <%= f.label :gender %>
  <%= f.text_field :gender %>
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
  <p><strong>Please note:</strong> By default, your avatar is the Gravatar associated with your email address, if one exists.</p>
  <%= f.submit "Update Info", class: "expanded button" %>
<% end %>
