<div class="container-fluid">
  <div class="row">
    <div class="masthead">
    <div class="col-md-4 col-md-offset-1"> 
      <h1>Facebook</h1>
    </div>
    <div class="col-md-7">
      <table id="login">
        <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
        <tr>
          <td><%= f.label :email %></td>
          <td><%= f.label :password %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.email_field :email, autofocus: true, class: "form-control" %></td>
          <td><%= f.password_field :password, autocomplete: "off", class: "form-control" %></td>
          <td><%= f.submit "Log in", class: "btn btn-default navbar-btn" %></td>
        </tr>
        <tr>
          <td>
            <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            <% end -%>
          </td>
          <td>
            <%= link_to "Forgot Password?", '#' %>
          </td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
  <div class="col-md-12">
  </div>
  <div class="row body">
    <div class="col-md-5">
    </div>
    <div class="col-md-7">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
    <% end %>
    </div>
  </div>
</div>