<article class="callout small">
  <div class="post-header clearfix">
  <%= render partial: "users/profile_photo_tiny", locals: {post: post} %>
  <%= render partial: "likes/button_like", locals: {likeable: post} %>
  <p><strong><% if current_user == post.user %><%= link_to "You", user_path(post.user) %><% else %><%= link_to post.user.name, user_path(post.user) %><% end %></strong> said:<br>
    <%= distance_of_time_in_words_to_now(post.created_at) %> ago</p>
  </div>
  <% unless post.content.nil? %>
    <p><%= post.content %></p>
  <% end %>
  <% unless post.photo_file_name.nil? %>
    <div class="photo-container">
      <%= image_tag post.photo.url, class: "post-photo" %>
    </div>
  <% end %>
  <hr>
  <%= render partial: "likes/post_likes", locals: {post: post} %>
  <section>
    <% if post.comments.any? %>
      <h5> <i class="fi-commments"></i> Comments (<%= post.comments.count %>)</h5>
      <% for comment in post.comments %>
       <%= render partial: "comments/comment", locals: {post: post, comment: comment} %>
      <% end %>
    <% end %>
  </section>
  <section>
  <%= render partial: "comments/new", locals: {post: post} %>
  </section>
</article>

