<div class="row">
  <div class="small-12 columns clearfix">
  <% if current_user.name %>
    <h2>Hello, <%= current_user.name %>!</h2>
  <% else %>
    <h2>Hello!</h2>
  <% end %>
  </div>
</div>

<%= render partial: "posts/post_form" %>

<h2>Recent Posts</h2>

<% if !@posts.nil? %>
<%= will_paginate @posts, renderer: FoundationPagination::Rails %>

<%= render @posts %>

<%= will_paginate @posts, renderer: FoundationPagination::Rails %>

<% else %>
<p>There are no recent posts to display.</p>

<p>To see posts in this space:</p>
<ul>
  <li>Add some posts of your own. Your own posts will appear in this space immmediately.</li>
  <li>Visit the All Users page and add some friends. Their posts will appear here once they accept your friendship request.</li>
</ul>
<% end %>
