<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Odin-Facebook" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>

    <%= csrf_meta_tags %>
  </head>

  <body>
   
    <nav class="title-bar">
      <ul class="menu">
         <li><%= link_to "OdinFB", url:'home#index' %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
    <div class="row">
      <div class="small-10 small-offset-1">
        <% flash.each do |message_type, message| %>
          <div class="<%= message_type %> callout"><%= message %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
