<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Odin-Facebook" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/nav" %>

  <div class="row">
    <div class="small-10 small-offset-1">
      <% flash.each do |message_type, message| %>
        <div class="<%= message_type %> callout"><%= message %></div>
      <% end %>
    </div>
    <%= yield %>
  </div>
  <div class="callout small">
    <%= debug(params) if Rails.env.development? %>
  </div>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
